#navBar{
    background-color:white;
    padding-bottom: 10px;
    padding-top: 20px;
    margin-bottom: 10px;
    align-items: center;
    border-color:brown;
    border-style: double;
}
a{
    color:  brown;
}
#bookish,#inner{
    font-family: Freestyle Script; 
    font-size: 80px; ;
}
a:hover{
    color:  #DFD4D3;
}
#logo{
    background:url("F:/Bookish/images/Bookish_logo.png") ;
    padding: 75px 0px 50px 20px;
	background-repeat:repeat;
	background-size:contain; 
}
#inner
{
    background: rgba(255, 255, 255, 0.45);
    box-shadow: 0 8px 32px 0 rgba(12, 19, 121, 0.37);
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid rgba(14, 1, 1, 0.18);
    color: rgb(165, 113, 113);
    text-align: center;
}
#content{
    position: relative;
	padding-top: 6%;
	padding-bottom: 6%;
	margin: 12% auto;
	background-color: rgba(245, 240, 240, 1);
	max-width: 660px;
}
footer {
	position: fixed;
	margin-top: 100px;
	text-align: center;
	bottom: 0;
	background-color: #DFD4D3;
	color:brown;
	width: 100%;
}
.row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }
  @media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  }
  .gallery{
      padding:20px;
      border:10px;
    align-content: center;
    margin:50px;
  }
  div.gallery {
    margin: 5px;
    border: 1px solid #e4c9e5;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #e4c9e5;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  .panel-margin {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  #box{
    background-color:#DFD4D3;
    margin: 0px 30% 0px 30%;
  }
  #panelcolor{
    color: black;
    background-color:#DFD4D3;
  }